
html{
  font-family: 'Ibarra Real Nova', sans-serif;
  font-size: 10px;
  background-color: #969696;
}

h1{
  font-size: 60px;
  text-align: center;
  color: #969696;
  margin: 0;
  padding: 20px 0;
  text-shadow: 3px 3px 1px black;
}

body{
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

p, li{
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

img{
  display: block;
  margin: 0 auto;
}